<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Cedezone Providers</name>
  <description>
Cedezone Provider app for fulfilling cleaning services  </description>
  <author email="olaniyiolatunji@gmail.com" href="http://aladstech.com.ng">
      Olaniyi Olatunji
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />
  <feature name="NetworkStatus">
    <param name="android-package" value="org.apache.cordova.networkinformation.NetworkManager" />
</feature>
<feature name="NetworkStatus">
    <param name="ios-package" value="CDVConnection" />
</feature>
<feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>

<feature name="http://api.phonegap.com/1.0/device" />
	
<feature name="http://api.phonegap.com/1.0/geolocation"/>
  <platform name="android">
      <allow-intent href="market:*" />
      <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
      <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
        <icon src="res/icon.png"  density="ldpi" />
        <icon src="res/icon.png"  density="mdpi" />
        <icon src="res/icon.png"  density="hdpi" />
        <icon src="res/icon.png"  density="xhdpi" />
        <icon src="res/icon.png"  density="xxhdpi" />
        <icon src="res/icon.png"  density="xxxhdpi" />

    <splash src="res/splash.png" density="land-hdpi"/>
    <splash src="res/splash.png" density="land-ldpi"/>
    <splash src="res/splash.png" density="land-mdpi"/>
    <splash src="res/splash.png" density="land-xhdpi"/>
    <splash src="res/splash.png" density="port-hdpi"/>
    <splash src="res/splash.png" density="port-ldpi"/>
    <splash src="res/splash.png" density="port-mdpi"/>
    <splash src="res/splash.png" density="port-xhdpi"/>

  </platform>
  <platform name="ios">
      <allow-intent href="itms:*" />
      <allow-intent href="itms-apps:*" />
  </platform>

        <plugin name="org.apache.cordova.inappbrowser" source="npm" version="1.7.1" />
        <!--<plugin name="Geolocation" value="org.apache.cordova.GeoBroker" source="git" spec="1.0.1"/>-->
</widget>